body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aeefff; 
    background-image: url('pexels-jahoo-clouseau-388415.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
}

.quote-container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

blockquote {
    font-size: 2em;
    color: #333;
    margin: 0;
    padding: 20px;
    border-left: 5px solid #ffcc29;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bb5;
}
